@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0deg 0% 14.9%;

    --primary-font: "Quicksand Variable", ui-sans-serif, system-ui,
      -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 159.26deg 68.64% 46.27%;
    --primary-foreground: 210 20% 98%;

    --secondary: 46.74deg 100% 66.27%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 0deg 0% 61.96%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply !ring-offset-0;
    @apply !ring-primary/50;
    @apply border-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground;
  }
}
