---
import { Button } from '@/components/ui/button';
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ViaMão">
	<main>
		<h1>Organize, plan, and enjoy your vacations hassle-free</h1>

		<Button>Get Started</Button>
	</main>
</Layout>
