---
import logo from '@/assets/logo.svg';
import { Image } from 'astro:assets';
import type { SessionType } from 'session';
import NavItem from './nav/NavItem.astro';
import { Link } from './ui/link';

type Props = {
  session?: SessionType
}

const { session } = Astro.props
---
<header class="py-3 px-4 grid grid-cols-[minmax(auto,_60em)] justify-center">
  <div class="flex min-h-16 items-center justify-between">
    <div class="flex gap-6 items-center">
      <Image aria-role="Logo" class='max-h-7 object-cover' src={logo} alt="ViaMão logo" />

      <nav aria-role="Main navigation">
        <ul class="flex space-x-6">
          <NavItem href='/'>Home</NavItem>

          {session && (
            <NavItem href='/my-trips'>My Trips</NavItem>
          )}
        </ul>
      </nav>
    </div>

    {session ? (
      <span class="text-sm text-muted-foreground font-medium">{session.user.email}</span>
    ) : (
      <Link href='/login' size='sm' className='w-max' variant="secondary">Log in</Link>
    )}
  </div>
</header>
