---
import Header from '@/components/Header.astro';
import type { SessionType } from 'session';
import Layout from '@/layouts/Layout.astro';
import { EditTrip } from '@/components/edit-trip';

const session = Astro.cookies.get('session')

if (!session?.value) {
  return Astro.redirect('/')
}

const { slug } = Astro.params;

if (!slug) return Astro.redirect("/404");
---

<Layout title="ViaMão - Edit trip">
  <Header session={session?.json() as unknown as SessionType} />

	<main class="py-28 px-4 grid grid-cols-[minmax(auto,26.5em)] justify-center">
    <EditTrip client:only="react" id={slug} />
	</main>
</Layout>
