---
import Header from '@/components/Header.astro';
import { Trip } from '@/components/trip';
import Layout from '@/layouts/Layout.astro';
import type { SessionType } from 'session';

const session = Astro.cookies.get('session')

if (!session?.value) {
  return Astro.redirect('/')
}

const { slug } = Astro.params;

if (!slug) return Astro.redirect("/404");
---

<Layout title="ViaMão">
  <Header session={session?.json() as unknown as SessionType} />

	<main class="py-28 px-4 grid grid-cols-[minmax(auto,26.5em)] justify-center">
    <Trip client:load id={slug} />
	</main>
</Layout>
