---
type Props = {
	href: string;
}

const { href } = Astro.props;

const isActive = href === Astro.url.pathname
---
<li class="font-semibold hover:underline">
  <a href={href} class:list={[{ active: isActive }]}>
    <slot />
  </a>
</li>

<style>
  .active {
    @apply underline;
  }
</style>
