---
type Props = {
	href: string;
}

const { href } = Astro.props;

const isActive = href === Astro.url.pathname
---
<li class="font-semibold">
  <a href={href} class:list={[{ underline: isActive }, 'hover:underline']}>
    <slot />
  </a>
</li>
